<app-navigation [showAddButton]="true"></app-navigation>
<div id="list-projects">
    <div *ngIf="listProjects.length > 0">
        <mat-card *ngFor="let project of listProjects; let index = index" class="list-project">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{ project.name }}</mat-card-title>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="list-project-content">
                <p>
                    {{ project.description }}
                </p>
                <p style="font-size: 10pt;">
                    <span style="font-weight: bold;">Criado em: </span>
                    {{ project.createdAt | date:'dd/MM/YYYY HH:mm:ss' }}
                </p>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-icon-button color="primary" [routerLink]="['/updateProject', project.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDialog(project, project.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-card *ngIf="listProjects.length == 0" style="margin-top: 10px">
        <mat-card-content>
            <p style="text-align: center;">
                Nenhum projeto foi criado. 
                <a mat-button color="primary" routerLink="createProject">
                    Novo <mat-icon>open_in_new</mat-icon>
                </a>
            </p>
        </mat-card-content>
    </mat-card>
    <mat-paginator [length]="config.length" [pageSizeOptions]="config.options" aria-label="Select page"></mat-paginator>
</div>
