<mat-accordion>
    <mat-grid-list cols="2">
        <mat-expansion-panel *ngFor="let project of listProjects">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ project.name }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ project.description }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Data de criação: {{ project.createdAt }}</p>
        </mat-expansion-panel>
    </mat-grid-list>
</mat-accordion>