<app-navigation title="Criar novo projeto" [showAddButton]="false" router="/"></app-navigation>
<div id="wrapper">
    <form class="form">
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="project.name" name="name">
        </mat-form-field>      
        <mat-form-field class="full-width">
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="project.description" name="description"></textarea>
        </mat-form-field>
        <button mat-fab extended color="primary">
            <mat-icon>done</mat-icon>
            Salvar
        </button> 
        <a mat-icon-button matTooltip="Cancelar" routerLink="/">
            <mat-icon>close</mat-icon>
        </a>
    </form>
</div>
